GOOGLE_API_KEY='<your-api-key>'
CONNECTION_STRING='<your-connection-string>'
LANGSMITH_TRACING='true'
LANGSMITH_ENDPOINT='<your-api-endpoint>'
LANGSMITH_API_KEY='<your-langsmith-key>'
LANGSMITH_PROJECT='<your-project-name>'
TAVILY_API_KEY='<your-tavily-key>'
GROQ_API_KEY='<your-groq-api-key>
